
        <p-dialog [(visible)]="editDeclarationCnssDetailDialog" [style]="{width: '70vw'}"
                header="Declaration cnss detail" [modal]="true"
                styleClass="p-fluid">

            <ng-template pTemplate="content">
                <p-tabView>
                    <p-tabPanel header="Declaration cnss detail">
                        <div class="p-grid">

                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="1">Ref</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Ref"
                                                   id="1" [(ngModel)]="selectedDeclarationCnssDetail.ref"
                                                   />
                                        </div>



                                        <div class="p-field p-col-12 p-md-2">
                                            <label for="2">Type taux cnss</label>
                                            <p-dropdown [options]="typeTauxCnsss" [(ngModel)]="selectedDeclarationCnssDetail.typeTauxCnssVo"
                                                    id="2" [filter]="true" filterMatchMode="contains"
                                                    [showClear]="true"
                                                    optionLabel="libelle"
                                                    placeholder="Type taux cnss">
                                            </p-dropdown>
                                        </div>
                                        <div class="p-field p-col-12 p-md-1">
                                            <label></label>
                                            <button pButton pRipple type="button"
                                                    icon="pi pi-plus"   (click)="openCreatetypeTauxCnss('typeTauxCnss')"
                                                    class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>

                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="3">Montant calcule</label>
                                            <p-inputNumber class="p-mb-2 p-mr-2" id="3"
                                                           placeholder="Montant calcule"  [(ngModel)]="selectedDeclarationCnssDetail.montantCalcule"
                                                    [(ngModel)]="selectedDeclarationCnssDetail.montantCalcule"></p-inputNumber>
                                        </div>

                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="4">Montant total</label>
                                            <p-inputNumber class="p-mb-2 p-mr-2" id="4"
                                                           placeholder="Montant total"  [(ngModel)]="selectedDeclarationCnssDetail.montantTotal"
                                                    [(ngModel)]="selectedDeclarationCnssDetail.montantTotal"></p-inputNumber>
                                        </div>

                                        <div class="p-field p-col-12 p-md-2">
                                            <label for="5">Declaration cnss</label>
                                            <p-dropdown [options]="declarationCnsss" [(ngModel)]="selectedDeclarationCnssDetail.declarationCnssVo"
                                                    id="5" [filter]="true" filterMatchMode="contains"
                                                    [showClear]="true"
                                                    optionLabel="ref"
                                                    placeholder="Declaration cnss">
                                            </p-dropdown>
                                        </div>
                                        <div class="p-field p-col-12 p-md-1">
                                            <label></label>
                                            <button pButton pRipple type="button"
                                                    icon="pi pi-plus"   (click)="openCreatedeclarationCnss('declarationCnss')"
                                                    class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>

                                        <div class="p-field align-inputswitch p-col-12  p-md-3">
                                            <div  class="label-inputswitch">
                                                <label for="6">Archive</label>
                                            </div>
                                            <div class="input-switch">
                                                <p-inputSwitch id="6"  [(ngModel)]="selectedDeclarationCnssDetail.archive"></p-inputSwitch>
                                            </div>
                                        </div>


                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="7">Date archivage</label>
                                            <p-calendar id="7"
                                                        placeholder="Date archivage"  [(ngModel)]="selectedDeclarationCnssDetail.dateArchivage"
                                                    dateFormat="{{dateFormat}}"></p-calendar>
                                        </div>

                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="8">Date creation</label>
                                            <p-calendar id="8"
                                                        placeholder="Date creation"  [(ngModel)]="selectedDeclarationCnssDetail.dateCreation"
                                                    dateFormat="{{dateFormat}}"></p-calendar>
                                        </div>

                                        <div class="p-field align-inputswitch p-col-12  p-md-3">
                                            <div  class="label-inputswitch">
                                                <label for="9">Admin</label>
                                            </div>
                                            <div class="input-switch">
                                                <p-inputSwitch id="9"  [(ngModel)]="selectedDeclarationCnssDetail.admin"></p-inputSwitch>
                                            </div>
                                        </div>


                                        <div class="p-field align-inputswitch p-col-12  p-md-3">
                                            <div  class="label-inputswitch">
                                                <label for="10">Visible</label>
                                            </div>
                                            <div class="input-switch">
                                                <p-inputSwitch id="10"  [(ngModel)]="selectedDeclarationCnssDetail.visible"></p-inputSwitch>
                                            </div>
                                        </div>


                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="11">Username</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Username"
                                                   id="11" [(ngModel)]="selectedDeclarationCnssDetail.username"
                                                   />
                                        </div>



                        </div>
                    </p-tabPanel>

                </p-tabView>

            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="p-grid">
                        <div>
                            <button pButton pRipple label="Annuler" icon="pi pi-times"
                                    class="p-button-text" (click)="hideEditDialog()"></button>
                        </div>
                    <div>
                        <button pButton pRipple label="Valider" icon="pi pi-check"  style="margin:10px" (click)="edit()"></button>
                    </div>
                </div>
            </ng-template>

                    <app-type-taux-cnss-create-comptable></app-type-taux-cnss-create-comptable>
                    <app-declaration-cnss-create-comptable></app-declaration-cnss-create-comptable>



    </p-dialog>



