
        <p-dialog [(visible)]="editCpcFactureDialog" [style]="{width: '70vw'}"
                header="Cpc facture" [modal]="true"
                styleClass="p-fluid">

            <ng-template pTemplate="content">
                <p-tabView>
                    <p-tabPanel header="Cpc facture">
                        <div class="p-grid">

                                        <div class="p-field p-col-12 p-md-5">
                                            <label for="1">Cpc</label>
                                            <p-dropdown [options]="cpcs" [(ngModel)]="selectedCpcFacture.cpcVo"
                                                    id="1" [filter]="true" filterMatchMode="contains"
                                                    [showClear]="true"
                                                    optionLabel="reference"
                                                    placeholder="Cpc">
                                            </p-dropdown>
                                        </div>
                                        <div class="p-field p-col-12 p-md-1">
                                            <label></label>
                                            <button pButton pRipple type="button"
                                                    icon="pi pi-plus"   (click)="openCreatecpc('cpc')"
                                                    class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>

                                        <div class="p-field p-col-12 p-md-5">
                                            <label for="2">Facture</label>
                                            <p-dropdown [options]="factures" [(ngModel)]="selectedCpcFacture.factureVo"
                                                    id="2" [filter]="true" filterMatchMode="contains"
                                                    [showClear]="true"
                                                    optionLabel="libelle"
                                                    placeholder="Facture">
                                            </p-dropdown>
                                        </div>
                                        <div class="p-field p-col-12 p-md-1">
                                            <label></label>
                                            <button pButton pRipple type="button"
                                                    icon="pi pi-plus"   (click)="openCreatefacture('facture')"
                                                    class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>

                        </div>
                    </p-tabPanel>

                </p-tabView>

            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="p-grid">
                        <div>
                            <button pButton pRipple label="Annuler" icon="pi pi-times"
                                    class="p-button-text" (click)="hideEditDialog()"></button>
                        </div>
                    <div>
                        <button pButton pRipple label="Valider" icon="pi pi-check"  style="margin:10px" (click)="edit()"></button>
                    </div>
                </div>
            </ng-template>

                    <app-cpc-create-admin></app-cpc-create-admin>
                    <app-facture-create-admin></app-facture-create-admin>



    </p-dialog>



