
<p-dialog [(visible)]="viewDemandePieceJointeDialog" [style]="{width: '70vw'}"
        header="Demande piece jointe" [modal]="true"
        styleClass="p-fluid">

    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="Demande piece jointe">
                <div class="p-grid">

                                <div class="p-field p-col-12 p-md-6">
                                    <label for="1">Name</label>
                                    <input class="p-mb-2 p-mr-2" type="text" pInputText [disabled]="true"
                                           placeholder="Name"  [(ngModel)]="selectedDemandePieceJointe.name"
                                           id="1" [(ngModel)]="selectedDemandePieceJointe.name"
                                           autofocus>
                                </div>



                                <div class="p-field p-col-12 p-md-6">
                                    <label for="2">Path</label>
                                    <input class="p-mb-2 p-mr-2" type="text" pInputText [disabled]="true"
                                           placeholder="Path"  [(ngModel)]="selectedDemandePieceJointe.path"
                                           id="2" [(ngModel)]="selectedDemandePieceJointe.path"
                                           autofocus>
                                </div>



                                <div class="p-field p-col-12 p-md-6">
                                    <label for="3">Demande</label>
                                    <p-dropdown [options]="demandes" [(ngModel)]="selectedDemandePieceJointe.demandeVo"
                                            id="3" [filter]="true" filterMatchMode="contains"
                                            [showClear]="true" [disabled]="true"
                                            optionLabel="reference"
                                            placeholder="Demande">
                                    </p-dropdown>
                                </div>


                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="p-grid">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times"
                        class="p-button-text" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>

            <app-demande-create-chercheur></app-demande-create-chercheur>



</p-dialog>



