        <p-dialog [(visible)]="createCompteComptableDialog" [style]="{width: '70vw'}"
                header="Compte comptable" [modal]="true"
                styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">


            <ng-template pTemplate="content" >
                <p-tabView>
                    <p-tabPanel header="Compte comptable">
                        <div class="p-grid">

                                        <div class="p-field p-col-12 p-md-6">
                                            <label for="1">Libelle<span style="color: red;">*</span></label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Libelle"
                                                   id="1" [(ngModel)]="selectedCompteComptable.libelle"
                                                    [ngClass]="{'ng-invalid ng-dirty' : !validCompteComptableLibelle}"  />
                                            <small class='p-error' *ngIf='!validCompteComptableLibelle'>Libelle est obligatoire.</small>
                                        </div>



                                        <div class="p-field p-col-12 p-md-6">
                                            <label for="2">Numero<span style="color: red;">*</span></label>
                                            <p-inputNumber class="p-mb-2 p-mr-2" id="2"
                                                           placeholder="Numero"
                                                    [(ngModel)]="selectedCompteComptable.numero" [ngClass]="{'ng-invalid ng-dirty' : !validCompteComptableNumero}"  >
                                            </p-inputNumber>
                                            <small class='p-error' *ngIf='!validCompteComptableNumero'>Numero est obligatoire.</small>
                                        </div>

                                        <div class="p-field p-col-11 p-md-5">
                                            <label for="3">Sous classe comptable<span style="color: red;">*</span></label>
                                            <p-dropdown [options]="sousClasseComptables" [(ngModel)]="selectedCompteComptable.sousClasseComptableVo"
                                                    id="3" [filter]="true" filterMatchMode="contains"
                                                    [showClear]="true"
                                                    optionLabel="libelle"
                                                    placeholder="Sous classe comptable" [ngClass]="{'ng-invalid ng-dirty' : !validCompteComptableSousClasseComptable}"  >
                                            </p-dropdown>
                                            <small class='p-error' *ngIf='!validCompteComptableSousClasseComptable'>SousClasseComptable est obligatoire.</small>
                                        </div>
                                        <div class="p-col-1">
                                            <label></label>
                                            <button pButton pRipple type="button"
                                                    icon="pi pi-plus"   (click)="openCreatesousClasseComptable('sousClasseComptable')"
                                                    class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>
                        </div>
                    </p-tabPanel>

                </p-tabView>

            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="p-grid">
                        <div>
                            <button pButton pRipple label="Annuler" icon="pi pi-times"
                                    class="p-button-text" (click)="hideCreateDialog()"></button>
                        </div>
                    <div>
                        <button pButton pRipple label="Valider" icon="pi pi-check" style="margin:10px" (click)="save()"></button>
                    </div>
                </div>
            </ng-template>

                    <app-sous-classe-comptable-create-societe></app-sous-classe-comptable-create-societe>


    </p-dialog>
