
        <p-dialog [(visible)]="editDeclarationIrDialog" [style]="{width: '70vw'}"
                header="Declaration ir" [modal]="true"
                styleClass="p-fluid">

            <ng-template pTemplate="content">
                <p-tabView>
                    <p-tabPanel header="Declaration ir">
                        <div class="p-grid">

                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="1">Refrerence</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Refrerence"
                                                   id="1" [(ngModel)]="selectedDeclarationIr.refrerence"
                                                   />
                                        </div>



                                        <div class="p-field p-col-12 p-md-2">
                                            <label for="2">Societe</label>
                                            <p-dropdown [options]="societes" [(ngModel)]="selectedDeclarationIr.societeVo"
                                                    id="2" [filter]="true" filterMatchMode="contains"
                                                    [showClear]="true"
                                                    optionLabel="id"
                                                    placeholder="Societe">
                                            </p-dropdown>
                                        </div>
                                        <div class="p-field p-col-12 p-md-1">
                                            <label></label>
                                            <button pButton pRipple type="button"
                                                    icon="pi pi-plus"   (click)="openCreatesociete('societe')"
                                                    class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>

                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="3">Annee</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Annee"
                                                   id="3" [(ngModel)]="selectedDeclarationIr.annee"
                                            />
                                        </div>

                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="4">Mois</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Mois"
                                                   id="4" [(ngModel)]="selectedDeclarationIr.mois"
                                            />
                                        </div>

                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="5">Montant ir calcule</label>
                                            <p-inputNumber mode="decimal" [minFractionDigits]="2" class="p-mb-2 p-mr-2" id="5"
                                                           placeholder="Montant ir calcule"  [(ngModel)]="selectedDeclarationIr.montantIrCalcule"
                                                    [(ngModel)]="selectedDeclarationIr.montantIrCalcule"></p-inputNumber>
                                        </div>

                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="6">Montant ir a paye</label>
                                            <p-inputNumber mode="decimal" [minFractionDigits]="2" class="p-mb-2 p-mr-2" id="6"
                                                           placeholder="Montant ir a paye"  [(ngModel)]="selectedDeclarationIr.montantIrAPaye"
                                                    [(ngModel)]="selectedDeclarationIr.montantIrAPaye"></p-inputNumber>
                                        </div>

                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="7">Total a paye</label>
                                            <p-inputNumber mode="decimal" [minFractionDigits]="2" class="p-mb-2 p-mr-2" id="7"
                                                           placeholder="Total a paye"  [(ngModel)]="selectedDeclarationIr.totalAPaye"
                                                    [(ngModel)]="selectedDeclarationIr.totalAPaye"></p-inputNumber>
                                        </div>

                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="8">Total salaire net</label>
                                            <p-inputNumber mode="decimal" [minFractionDigits]="2" class="p-mb-2 p-mr-2" id="8"
                                                           placeholder="Total salaire net"  [(ngModel)]="selectedDeclarationIr.totalSalaireNet"
                                                    [(ngModel)]="selectedDeclarationIr.totalSalaireNet"></p-inputNumber>
                                        </div>

                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="9">Total salaire brut</label>
                                            <p-inputNumber mode="decimal" [minFractionDigits]="2" class="p-mb-2 p-mr-2" id="9"
                                                           placeholder="Total salaire brut"  [(ngModel)]="selectedDeclarationIr.totalSalaireBrut"
                                                    [(ngModel)]="selectedDeclarationIr.totalSalaireBrut"></p-inputNumber>
                                        </div>

                                        <div class="p-field p-col-12 p-md-2">
                                            <label for="12">Etat declaration ir</label>
                                            <p-dropdown [options]="etatDeclarationIrs" [(ngModel)]="selectedDeclarationIr.etatDeclarationIrVo"
                                                    id="12" [filter]="true" filterMatchMode="contains"
                                                    [showClear]="true"
                                                    optionLabel="libelle"
                                                    placeholder="Etat declaration ir">
                                            </p-dropdown>
                                        </div>
                                        <div class="p-field p-col-12 p-md-1">
                                            <label></label>
                                            <button pButton pRipple type="button"
                                                    icon="pi pi-plus"   (click)="openCreateetatDeclarationIr('etatDeclarationIr')"
                                                    class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>

                                        <div class="p-field p-col-12 p-md-2">
                                            <label for="13">Paiement declaration ir</label>
                                            <p-dropdown [options]="paiementDeclarationIrs" [(ngModel)]="selectedDeclarationIr.paiementDeclarationIrVo"
                                                    id="13" [filter]="true" filterMatchMode="contains"
                                                    [showClear]="true"
                                                    optionLabel="reference"
                                                    placeholder="Paiement declaration ir">
                                            </p-dropdown>
                                        </div>
                                        <div class="p-field p-col-12 p-md-1">
                                            <label></label>
                                            <button pButton pRipple type="button"
                                                    icon="pi pi-plus"   (click)="openCreatepaiementDeclarationIr('paiementDeclarationIr')"
                                                    class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>

                                        <div class="p-field align-inputswitch p-col-12  p-md-3">
                                            <div  class="label-inputswitch">
                                                <label for="14">Archive</label>
                                            </div>
                                            <div class="input-switch">
                                                <p-inputSwitch id="14"  [(ngModel)]="selectedDeclarationIr.archive"></p-inputSwitch>
                                            </div>
                                        </div>


                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="15">Date archivage</label>
                                            <p-calendar id="15"
                                                        placeholder="Date archivage"  [(ngModel)]="selectedDeclarationIr.dateArchivage"
                                                    dateFormat="{{dateFormat}}"></p-calendar>
                                        </div>

                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="16">Date creation</label>
                                            <p-calendar id="16"
                                                        placeholder="Date creation"  [(ngModel)]="selectedDeclarationIr.dateCreation"
                                                    dateFormat="{{dateFormat}}"></p-calendar>
                                        </div>

                                        <div class="p-field align-inputswitch p-col-12  p-md-3">
                                            <div  class="label-inputswitch">
                                                <label for="17">Admin</label>
                                            </div>
                                            <div class="input-switch">
                                                <p-inputSwitch id="17"  [(ngModel)]="selectedDeclarationIr.admin"></p-inputSwitch>
                                            </div>
                                        </div>


                                        <div class="p-field align-inputswitch p-col-12  p-md-3">
                                            <div  class="label-inputswitch">
                                                <label for="18">Visible</label>
                                            </div>
                                            <div class="input-switch">
                                                <p-inputSwitch id="18"  [(ngModel)]="selectedDeclarationIr.visible"></p-inputSwitch>
                                            </div>
                                        </div>


                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="19">Username</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Username"
                                                   id="19" [(ngModel)]="selectedDeclarationIr.username"
                                                   />
                                        </div>



                        </div>
                    </p-tabPanel>
                            <p-tabPanel header="Declaration ir employes">
                                <div class="p-grid">
                                    <div class="p-col">
                                                <div class="p-field">
                                                    <label for="1">Salaire net</label>
                                                    <p-inputNumber mode="decimal" [minFractionDigits]="2" class="p-mb-2 p-mr-2" id="salaireNet"
                                                                   placeholder="Salaire net"
                                                            [(ngModel)]="selectedDeclarationIrEmployes.salaireNet" [disabled]="true"></p-inputNumber>
                                                </div>

                                                <div class="p-field">
                                                    <label for="2">Salaire brut</label>
                                                    <p-inputNumber mode="decimal" [minFractionDigits]="2" class="p-mb-2 p-mr-2" id="salaireBrut"
                                                                   placeholder="Salaire brut"
                                                            [(ngModel)]="selectedDeclarationIrEmployes.salaireBrut" [disabled]="true"></p-inputNumber>
                                                </div>

                                                <div class="p-field">
                                                    <label for="3">Salaire net imposable</label>
                                                    <p-inputNumber mode="decimal" [minFractionDigits]="2" class="p-mb-2 p-mr-2" id="salaireNetImposable"
                                                                   placeholder="Salaire net imposable"
                                                            [(ngModel)]="selectedDeclarationIrEmployes.salaireNetImposable" [disabled]="true"></p-inputNumber>
                                                </div>

                                                <div class="p-field">
                                                    <label for="4">Salaire brut imposable</label>
                                                    <p-inputNumber mode="decimal" [minFractionDigits]="2" class="p-mb-2 p-mr-2" id="salaireBrutImposable"
                                                                   placeholder="Salaire brut imposable"
                                                            [(ngModel)]="selectedDeclarationIrEmployes.salaireBrutImposable"[disabled]="true" ></p-inputNumber>
                                                </div>

                                                <div class="p-field">
                                                    <label for="5">Salaire base</label>
                                                    <p-inputNumber mode="decimal" [minFractionDigits]="2" class="p-mb-2 p-mr-2" id="salaireBase"
                                                                   placeholder="Salaire base"
                                                            [(ngModel)]="selectedDeclarationIrEmployes.salaireBase"></p-inputNumber>
                                                </div>

                                                <div class="p-field">
                                                    <label for="6">Indemnite</label>
                                                    <p-inputNumber mode="decimal" [minFractionDigits]="2" class="p-mb-2 p-mr-2" id="indemnite"
                                                                   placeholder="Indemnite"
                                                            [(ngModel)]="selectedDeclarationIrEmployes.indemnite"></p-inputNumber>
                                                </div>

                                                <div class="p-field">
                                                    <label for="7">Primes</label>
                                                    <p-inputNumber mode="decimal" [minFractionDigits]="2" class="p-mb-2 p-mr-2" id="primes"
                                                                   placeholder="Primes"
                                                            [(ngModel)]="selectedDeclarationIrEmployes.primes"></p-inputNumber>
                                                </div>

                                                <div class="p-field">
                                                    <label for="8">Pourcentage anciennete</label>
                                                    <p-inputNumber mode="decimal" [minFractionDigits]="2" class="p-mb-2 p-mr-2" id="pourcentageAnciennete"
                                                                   placeholder="Pourcentage anciennete"
                                                            [(ngModel)]="selectedDeclarationIrEmployes.pourcentageAnciennete"></p-inputNumber>
                                                </div>

                                                <div class="p-field">
                                                    <label for="9">Cotisation</label>
                                                    <p-inputNumber mode="decimal" [minFractionDigits]="2" class="p-mb-2 p-mr-2" id="cotisation"
                                                                   placeholder="Cotisation"
                                                            [(ngModel)]="selectedDeclarationIrEmployes.cotisation" [disabled]="true"></p-inputNumber>
                                                </div>

                                                <div class="p-grid">
                                                    <div class="p-col-11 p-field">
                                                        <label>Employe</label>
                                                        <p-dropdown [options]="employes" [(ngModel)]="selectedDeclarationIrEmployes.employeVo"
                                                                id="1"  [filter]="true"
                                                                filterMatchMode="contains" [showClear]="true"
                                                                optionLabel="cin"
                                                                placeholder="Employe"
                                                        >
                                                        </p-dropdown>

                                                    </div>
                                                    <div class="p-col-1">
                                                        <label></label>
                                                        <button pButton pRipple type="button"
                                                                icon="pi pi-plus"   (click)="openCreateemploye('employe')"
                                                                class="p-button-success one-colonne-btn-success-align"></button>
                                                    </div>

                                                </div>

                                                <div class="p-grid">
                                                    <div class="p-col-11 p-field">
                                                        <label>Taux ir</label>
                                                        <p-dropdown [options]="tauxIrs" [(ngModel)]="selectedDeclarationIrEmployes.tauxIrVo"
                                                                id="2"  [filter]="true"
                                                                filterMatchMode="contains" [showClear]="true"
                                                                optionLabel="id"
                                                                placeholder="Taux ir"
                                                        >
                                                        </p-dropdown>

                                                    </div>
                                                    <div class="p-col-1">
                                                        <label></label>
                                                        <button pButton pRipple type="button"
                                                                icon="pi pi-plus"   (click)="openCreatetauxIr('tauxIr')"
                                                                class="p-button-success one-colonne-btn-success-align"></button>
                                                    </div>

                                                </div>

                                        <button pButton pRipple type="button" icon="pi pi-plus" class="p-mt-4"
                                                label="OK" (click)="addDeclarationIrEmployes()"
                                        ></button>
                                    </div>
                                    <div class="p-col">
                                        <div class="card">
                                            <p-table [value]="selectedDeclarationIr.declarationIrEmployesVo" [scrollable]="true"
                                                    scrollHeight="200px">
                                                <ng-template pTemplate="header">
                                                    <tr>
                                                                    <th>Employe</th>
                                                                    <th>Salaire net</th>
                                                                    <th>Salaire brut</th>
                                                                    <th>Salaire net imposable</th>
                                                                    <th>Salaire brut imposable</th>
                                                                    <th>Salaire base</th>
                                                                    <th>Indemnite</th>
                                                                    <th>Primes</th>
                                                                    <th>Pourcentage anciennete</th>
                                                                    <th>Taux ir</th>
                                                                    <th>Cotisation</th>
                                                        <th>Actions</th>
                                                    </tr>
                                                </ng-template>
                                                <ng-template pTemplate="body" let-p>
                                                    <tr>
                                                                <td>{{p.employeVo?.cin}}</td>
                                                                    <td>{{p.salaireNet}}</td>

                                                                    <td>{{p.salaireBrut}}</td>

                                                                    <td>{{p.salaireNetImposable}}</td>

                                                                    <td>{{p.salaireBrutImposable}}</td>

                                                                    <td>{{p.salaireBase}}</td>

                                                                    <td>{{p.indemnite}}</td>

                                                                    <td>{{p.primes}}</td>

                                                                    <td>{{p.pourcentageAnciennete}}</td>

                                                                <td>{{p.tauxIrVo?.id}}</td>
                                                                    <td>{{p.cotisation}}</td>

                                                        <td>
                                                            <button (click)="deleteDeclarationIrEmployes(p)" pButton type="button"
                                                                                                                 icon="pi pi-times"  class="p-button-rounded p-button-danger">
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </ng-template>
                                            </p-table>
                                        </div>
                                    </div>
                                </div>

                            </p-tabPanel>
                            <p-tabPanel header="Prelevement social employes">
                                <div class="p-grid">
                                    <div class="p-col">
                                                <div class="p-field">
                                                    <label for="1">Salaire brut imposable</label>
                                                    <p-inputNumber mode="decimal" [minFractionDigits]="2" class="p-mb-2 p-mr-2" id="salaireBrutImposable"
                                                                   placeholder="Salaire brut imposable"
                                                            [(ngModel)]="selectedPrelevementSocialEmployes.salaireBrutImposable"></p-inputNumber>
                                                </div>

                                                <div class="p-field">
                                                    <label for="2">Montant calculer</label>
                                                    <p-inputNumber mode="decimal" [minFractionDigits]="2" class="p-mb-2 p-mr-2" id="montantCalculer"
                                                                   placeholder="Montant calculer"
                                                            [(ngModel)]="selectedPrelevementSocialEmployes.montantCalculer"></p-inputNumber>
                                                </div>

                                                <div class="p-grid">
                                                    <div class="p-col-11 p-field">
                                                        <label>Prelevement social</label>
                                                        <p-dropdown [options]="prelevementSocials" [(ngModel)]="selectedPrelevementSocialEmployes.prelevementSocialVo"
                                                                id="0"  [filter]="true"
                                                                filterMatchMode="contains" [showClear]="true"
                                                                optionLabel="libelle"
                                                                placeholder="Prelevement social"
                                                        >
                                                        </p-dropdown>

                                                    </div>
                                                    <div class="p-col-1">
                                                        <label></label>
                                                        <button pButton pRipple type="button"
                                                                icon="pi pi-plus"   (click)="openCreateprelevementSocial('prelevementSocial')"
                                                                class="p-button-success one-colonne-btn-success-align"></button>
                                                    </div>

                                                </div>

                                                <div class="p-grid">
                                                    <div class="p-col-11 p-field">
                                                        <label>Employe</label>
                                                        <p-dropdown [options]="employes" [(ngModel)]="selectedPrelevementSocialEmployes.employeVo"
                                                                id="1"  [filter]="true"
                                                                filterMatchMode="contains" [showClear]="true"
                                                                optionLabel="cin"
                                                                placeholder="Employe"
                                                        >
                                                        </p-dropdown>

                                                    </div>
                                                    <div class="p-col-1">
                                                        <label></label>
                                                        <button pButton pRipple type="button"
                                                                icon="pi pi-plus"   (click)="openCreateemploye('employe')"
                                                                class="p-button-success one-colonne-btn-success-align"></button>
                                                    </div>

                                                </div>

                                        <button pButton pRipple type="button" icon="pi pi-plus" class="p-mt-4"
                                                label="OK" (click)="addPrelevementSocialEmployes()"
                                        ></button>
                                    </div>
                                    <div class="p-col">
                                        <div class="card">
                                            <p-table [value]="selectedDeclarationIr.prelevementSocialEmployesVo" [scrollable]="true"
                                                    scrollHeight="200px">
                                                <ng-template pTemplate="header">
                                                    <tr>
                                                                    <th>Prelevement social</th>
                                                                    <th>Employe</th>
                                                                    <th>Salaire brut imposable</th>
                                                                    <th>Montant calculer</th>
                                                        <th>Actions</th>
                                                    </tr>
                                                </ng-template>
                                                <ng-template pTemplate="body" let-p>
                                                    <tr>
                                                                <td>{{p.prelevementSocialVo?.libelle}}</td>
                                                                <td>{{p.employeVo?.cin}}</td>
                                                                    <td>{{p.salaireBrutImposable}}</td>

                                                                    <td>{{p.montantCalculer}}</td>

                                                        <td>
                                                            <button (click)="deletePrelevementSocialEmployes(p)" pButton type="button"
                                                                                                                 icon="pi pi-times"  class="p-button-rounded p-button-danger">
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </ng-template>
                                            </p-table>
                                        </div>
                                    </div>
                                </div>

                            </p-tabPanel>

                </p-tabView>

            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="p-grid">
                        <div>
                            <button pButton pRipple label="Annuler" icon="pi pi-times"
                                    class="p-button-text" (click)="hideEditDialog()"></button>
                        </div>
                    <div>
                        <button pButton pRipple label="Valider" icon="pi pi-check"  style="margin:10px" (click)="edit()"></button>
                    </div>
                </div>
            </ng-template>

                    <!--<app-societe-create-admin></app-societe-create-admin>
                    <app-etat-declaration-ir-create-admin></app-etat-declaration-ir-create-admin>
                    <app-paiement-declaration-ir-create-admin></app-paiement-declaration-ir-create-admin>

                            <app-employe-create-admin></app-employe-create-admin>
                            <app-taux-ir-create-admin></app-taux-ir-create-admin>
                            <app-prelevement-social-create-admin></app-prelevement-social-create-admin>
                            <app-employe-create-admin></app-employe-create-admin>-->


    </p-dialog>



