        <p-dialog [(visible)]="createPresidentSocieteDialog" [style]="{width: '70vw'}"
                header="President societe" [modal]="true"
                styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">


            <ng-template pTemplate="content" >
                <p-tabView>
                    <p-tabPanel header="President societe">
                        <div class="p-grid">

                                        <div class="p-field p-col-12 p-md-6">
                                            <label for="1">Cin<span style="color: red;">*</span></label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Cin"
                                                   id="1" [(ngModel)]="selectedPresidentSociete.cin"
                                                    [ngClass]="{'ng-invalid ng-dirty' : !validPresidentSocieteCin}"  />
                                            <small class='p-error' *ngIf='!validPresidentSocieteCin'>Cin est obligatoire.</small>
                                        </div>



                                        <div class="p-field p-col-12 p-md-6">
                                            <label for="2">Nom<span style="color: red;">*</span></label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Nom"
                                                   id="2" [(ngModel)]="selectedPresidentSociete.nom"
                                                    [ngClass]="{'ng-invalid ng-dirty' : !validPresidentSocieteNom}"  />
                                            <small class='p-error' *ngIf='!validPresidentSocieteNom'>Nom est obligatoire.</small>
                                        </div>



                                        <div class="p-field p-col-12 p-md-6">
                                            <label for="3">Prenom<span style="color: red;">*</span></label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Prenom"
                                                   id="3" [(ngModel)]="selectedPresidentSociete.prenom"
                                                    [ngClass]="{'ng-invalid ng-dirty' : !validPresidentSocietePrenom}"  />
                                            <small class='p-error' *ngIf='!validPresidentSocietePrenom'>Prenom est obligatoire.</small>
                                        </div>



                                        <div class="p-field p-col-12 p-md-6">
                                            <label for="4">Email</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Email"
                                                   id="4" [(ngModel)]="selectedPresidentSociete.email"
                                                     />
                                            
                                        </div>



                                        <div class="p-field p-col-12 p-md-6">
                                            <label for="5">Telephone</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Telephone"
                                                   id="5" [(ngModel)]="selectedPresidentSociete.telephone"
                                                     />
                                            
                                        </div>



                                        <div class="p-field p-col-11 p-md-5">
                                            <label for="6">Societe<span style="color: red;">*</span></label>
                                            <p-dropdown [options]="societes" [(ngModel)]="selectedPresidentSociete.societeVo"
                                                    id="6" [filter]="true" filterMatchMode="contains"
                                                    [showClear]="true"
                                                    optionLabel="id"
                                                    placeholder="Societe" [ngClass]="{'ng-invalid ng-dirty' : !validPresidentSocieteSociete}"  >
                                            </p-dropdown>
                                            <!--<small class='p-error' *ngIf='!validPresidentSocieteSociete'>Societe est obligatoire.</small>
                                            -->
                                        </div>
                                        <div class="p-col-1">
                                            <label></label>
                                            <button pButton pRipple type="button"
                                                    icon="pi pi-plus"   (click)="openCreatesociete('societe')"
                                                    class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>
                        </div>
                    </p-tabPanel>

                </p-tabView>

            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="p-grid">
                        <div>
                            <button pButton pRipple label="Annuler" icon="pi pi-times"
                                    class="p-button-text" (click)="hideCreateDialog()"></button>
                        </div>
                    <div>
                        <button pButton pRipple label="Valider" icon="pi pi-check" style="margin:10px" (click)="save()"></button>
                    </div>
                </div>
            </ng-template>

                    <app-societe-create-admin></app-societe-create-admin>


    </p-dialog>
