        <p-dialog [(visible)]="createTauxIsDialog" [style]="{width: '70vw'}"
                header="Taux is" [modal]="true"
                styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">


            <ng-template pTemplate="content" >
                <p-tabView>
                    <p-tabPanel header="Taux is">
                        <div class="p-grid">

                                        <div class="p-field p-col-12 p-md-6">
                                            <label for="1">Reference<span style="color: red;">*</span></label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Reference"
                                                   id="1" [(ngModel)]="selectedTauxIs.reference"
                                                    [ngClass]="{'ng-invalid ng-dirty' : !validTauxIsReference}"  />
                                            <small class='p-error' *ngIf='!validTauxIsReference'>Reference est obligatoire.</small>
                                        </div>



                                        <div class="p-field p-col-12 p-md-6">
                                            <label for="2">Resultat fiscal min<span style="color: red;">*</span></label>
                                            <p-inputNumber class="p-mb-2 p-mr-2" id="2"
                                                           placeholder="Resultat fiscal min"
                                                    [(ngModel)]="selectedTauxIs.resultatFiscalMin" [ngClass]="{'ng-invalid ng-dirty' : !validTauxIsResultatFiscalMin}"  >
                                            </p-inputNumber>
                                            <small class='p-error' *ngIf='!validTauxIsResultatFiscalMin'>ResultatFiscalMin est obligatoire.</small>
                                        </div>

                                        <div class="p-field p-col-12 p-md-6">
                                            <label for="3">Resultat fiscal max<span style="color: red;">*</span></label>
                                            <p-inputNumber class="p-mb-2 p-mr-2" id="3"
                                                           placeholder="Resultat fiscal max"
                                                    [(ngModel)]="selectedTauxIs.resultatFiscalMax" [ngClass]="{'ng-invalid ng-dirty' : !validTauxIsResultatFiscalMax}"  >
                                            </p-inputNumber>
                                            <small class='p-error' *ngIf='!validTauxIsResultatFiscalMax'>ResultatFiscalMax est obligatoire.</small>
                                        </div>

                                        <div class="p-field p-col-12 p-md-6">
                                            <label for="4">Pourcentage<span style="color: red;">*</span></label>
                                            <p-inputNumber class="p-mb-2 p-mr-2" id="4"
                                                           placeholder="Pourcentage"
                                                    [(ngModel)]="selectedTauxIs.pourcentage" [ngClass]="{'ng-invalid ng-dirty' : !validTauxIsPourcentage}"  >
                                            </p-inputNumber>
                                            <small class='p-error' *ngIf='!validTauxIsPourcentage'>Pourcentage est obligatoire.</small>
                                        </div>

                                        <div class="p-field p-col-12 p-md-6">
                                            <label for="5">Penalite<span style="color: red;">*</span></label>
                                            <p-inputNumber class="p-mb-2 p-mr-2" id="5"
                                                           placeholder="Penalite"
                                                    [(ngModel)]="selectedTauxIs.penalite" [ngClass]="{'ng-invalid ng-dirty' : !validTauxIsPenalite}"  >
                                            </p-inputNumber>
                                            <small class='p-error' *ngIf='!validTauxIsPenalite'>Penalite est obligatoire.</small>
                                        </div>

                                        <div class="p-field p-col-11 p-md-5">
                                            <label for="6">Taux is config</label>
                                            <p-dropdown [options]="tauxIsConfigs" [(ngModel)]="selectedTauxIs.tauxIsConfigVo"
                                                    id="6" [filter]="true" filterMatchMode="contains"
                                                    [showClear]="true"
                                                    optionLabel="reference"
                                                    placeholder="Taux is config"  >
                                            </p-dropdown>
                                            
                                        </div>
                                        <div class="p-col-1">
                                            <label></label>
                                            <button pButton pRipple type="button"
                                                    icon="pi pi-plus"   (click)="openCreatetauxIsConfig('tauxIsConfig')"
                                                    class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>
                        </div>
                    </p-tabPanel>

                </p-tabView>

            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="p-grid">
                        <div>
                            <button pButton pRipple label="Annuler" icon="pi pi-times"
                                    class="p-button-text" (click)="hideCreateDialog()"></button>
                        </div>
                    <div>
                        <button pButton pRipple label="Valider" icon="pi pi-check" style="margin:10px" (click)="save()"></button>
                    </div>
                </div>
            </ng-template>

                    <app-taux-is-config-create-admin></app-taux-is-config-create-admin>


    </p-dialog>
