
<p-dialog [(visible)]="viewCommentaireDialog" [style]="{width: '70vw'}"
        header="Commentaire" [modal]="true"
        styleClass="p-fluid">

    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="Commentaire">
                <div class="p-grid">

                                <div class="p-field p-col-12 p-md-6">
                                    <label for="1">Description</label>
                                    <textarea id="1" pInputTextarea rows="5" cols="30"
                                              placeholder="Description"  [(ngModel)]="selectedCommentaire.description"
                                    ></textarea>
                                </div>

                                <div class="p-field p-col-12 p-md-6">
                                    <label for="2">Date commentaire</label>
                                    <p-calendar id="2" [disabled]="true"
                                                placeholder="Date commentaire"  [(ngModel)]="selectedCommentaire.dateCommentaire"
                                            dateFormat="{{dateFormat}}"></p-calendar>
                                </div>

                                <div class="p-field p-col-12 p-md-6">
                                    <label for="3">Auteur</label>
                                    <input class="p-mb-2 p-mr-2" type="text" pInputText [disabled]="true"
                                           placeholder="Auteur"  [(ngModel)]="selectedCommentaire.auteur"
                                           id="3" [(ngModel)]="selectedCommentaire.auteur"
                                           autofocus>
                                </div>



                                <div class="p-field p-col-12 p-md-6">
                                    <label for="4">Demande</label>
                                    <p-dropdown [options]="demandes" [(ngModel)]="selectedCommentaire.demandeVo"
                                            id="4" [filter]="true" filterMatchMode="contains"
                                            [showClear]="true" [disabled]="true"
                                            optionLabel="reference"
                                            placeholder="Demande">
                                    </p-dropdown>
                                </div>


                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="p-grid">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times"
                        class="p-button-text" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>

            <app-demande-create-comptable></app-demande-create-comptable>



</p-dialog>



