<p-dialog [(visible)]="createPrelevementSocialDialog" [style]="{width: '70vw'}"
          header="Prelevement social" [modal]="true"
          styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">


    <ng-template pTemplate="content" >
        <p-tabView>
            <p-tabPanel header="Prelevement social">
                <div class="p-grid">


                    <div class="p-field p-col-12 p-md-6">
                        <label for="1">Reference<span style="color: red;">*</span></label>
                        <input class="p-mb-2 p-mr-2" type="text" pInputText
                               placeholder="Reference"
                               id="1" [(ngModel)]="selectedPrelevementSocial.reference"
                               [ngClass]="{'ng-invalid ng-dirty' : !validPrelevementSocialReference}"  />
                        <small class='p-error' *ngIf='!validPrelevementSocialReference'>Reference est obligatoire.</small>
                    </div>

                    <div class="p-field p-col-12 p-md-6">
                        <label for="2">Libelle<span style="color: red;">*</span></label>
                        <input class="p-mb-2 p-mr-2" type="text" pInputText
                               placeholder="Libelle"
                               id="2" [(ngModel)]="selectedPrelevementSocial.libelle"
                               [ngClass]="{'ng-invalid ng-dirty' : !validPrelevementSocialLibelle}"  />
                        <small class='p-error' *ngIf='!validPrelevementSocialLibelle'>Libelle est obligatoire.</small>
                    </div>



                    <div class="p-field p-col-12 p-md-6">
                        <label for="3">Pourcentage<span style="color: red;">*</span></label>
                        <p-inputNumber  class="p-mb-2 p-mr-2" id="3"
                                        placeholder="Pourcentage" mode="decimal" [minFractionDigits]="2"
                                        [(ngModel)]="selectedPrelevementSocial.pourcentage" [ngClass]="{'ng-invalid ng-dirty' : !validPrelevementSocialPourcentage}"  >
                        </p-inputNumber>
                        <small class='p-error' *ngIf='!validPrelevementSocialPourcentage'>Pourcentage est obligatoire.</small>
                    </div>

                    <div class="p-field p-col-12 p-md-6">
                        <label for="4">Date max<span style="color: red;">*</span></label>
                        <p-calendar id="4"
                                    placeholder="Date max"  [(ngModel)]="selectedPrelevementSocial.dateMax"
                                    dateFormat="{{dateFormat}}" [ngClass]="{'ng-invalid ng-dirty' : !validPrelevementSocialDateMax}"  >
                        </p-calendar>
                        <small class='p-error' *ngIf='!validPrelevementSocialDateMax'>DateMax est obligatoire.</small>
                    </div>

                    <div class="p-field p-col-12 p-md-6">
                        <label for="5">Date min<span style="color: red;">*</span></label>
                        <p-calendar id="5"
                                    placeholder="Date min"  [(ngModel)]="selectedPrelevementSocial.dateMin"
                                    dateFormat="{{dateFormat}}" [ngClass]="{'ng-invalid ng-dirty' : !validPrelevementSocialDateMin}"  >
                        </p-calendar>
                        <small class='p-error' *ngIf='!validPrelevementSocialDateMin'>DateMin est obligatoire.</small>
                    </div>

                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="p-grid">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times"
                        class="p-button-text" (click)="hideCreateDialog()"></button>
            </div>
            <div>
                <button pButton pRipple label="Valider" icon="pi pi-check" style="margin:10px" (click)="save()"></button>
            </div>
        </div>
    </ng-template>



</p-dialog>
