        <p-dialog [(visible)]="createTauxCnssDialog" [style]="{width: '70vw'}"
                header="Taux cnss" [modal]="true"
                styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">


            <ng-template pTemplate="content" >
                <p-tabView>
                    <p-tabPanel header="Taux cnss">
                        <div class="p-grid">

                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="1">Ref<span style="color: red;">*</span></label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Ref"
                                                   id="1" [(ngModel)]="selectedTauxCnss.ref"
                                                    [ngClass]="{'ng-invalid ng-dirty' : !validTauxCnssRef}"  />
                                            <small class='p-error' *ngIf='!validTauxCnssRef'>Ref est obligatoire.</small>
                                        </div>



                                        <div class="p-field p-col-11 p-md-2">
                                            <label for="2">Type taux cnss<span style="color: red;">*</span></label>
                                            <p-dropdown [options]="typeTauxCnsss" [(ngModel)]="selectedTauxCnss.typeTauxCnssVo"
                                                    id="2" [filter]="true" filterMatchMode="contains"
                                                    [showClear]="true"
                                                    optionLabel="libelle"
                                                    placeholder="Type taux cnss" [ngClass]="{'ng-invalid ng-dirty' : !validTauxCnssTypeTauxCnss}"  >
                                            </p-dropdown>
                                            <small class='p-error' *ngIf='!validTauxCnssTypeTauxCnss'>TypeTauxCnss est obligatoire.</small>
                                        </div>
                                        <div class="p-col-1">
                                            <label></label>
                                            <button pButton pRipple type="button"
                                                    icon="pi pi-plus"   (click)="openCreatetypeTauxCnss('typeTauxCnss')"
                                                    class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>
                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="3">Date application min<span style="color: red;">*</span></label>
                                            <p-calendar id="3"
                                                        placeholder="Date application min"  [(ngModel)]="selectedTauxCnss.dateApplicationMin"
                                                    dateFormat="{{dateFormat}}" [ngClass]="{'ng-invalid ng-dirty' : !validTauxCnssDateApplicationMin}"  >
                                            </p-calendar>
                                            <small class='p-error' *ngIf='!validTauxCnssDateApplicationMin'>DateApplicationMin est obligatoire.</small>
                                        </div>

                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="4">Date application max<span style="color: red;">*</span></label>
                                            <p-calendar id="4"
                                                        placeholder="Date application max"  [(ngModel)]="selectedTauxCnss.dateApplicationMax"
                                                    dateFormat="{{dateFormat}}" [ngClass]="{'ng-invalid ng-dirty' : !validTauxCnssDateApplicationMax}"  >
                                            </p-calendar>
                                            <small class='p-error' *ngIf='!validTauxCnssDateApplicationMax'>DateApplicationMax est obligatoire.</small>
                                        </div>

                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="5">Plafond<span style="color: red;">*</span></label>
                                            <p-inputNumber class="p-mb-2 p-mr-2" id="5"
                                                           placeholder="Plafond"
                                                    [(ngModel)]="selectedTauxCnss.plafond" [ngClass]="{'ng-invalid ng-dirty' : !validTauxCnssPlafond}"  >
                                            </p-inputNumber>
                                            <small class='p-error' *ngIf='!validTauxCnssPlafond'>Plafond est obligatoire.</small>
                                        </div>

                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="6">Pourcentage<span style="color: red;">*</span></label>
                                            <p-inputNumber class="p-mb-2 p-mr-2" id="6"
                                                           placeholder="Pourcentage"
                                                    [(ngModel)]="selectedTauxCnss.pourcentage" [ngClass]="{'ng-invalid ng-dirty' : !validTauxCnssPourcentage}"  >
                                            </p-inputNumber>
                                            <small class='p-error' *ngIf='!validTauxCnssPourcentage'>Pourcentage est obligatoire.</small>
                                        </div>

                                        <div class="p-field align-inputswitch p-col-12  p-md-3">
                                            <div  class="label-inputswitch">
                                                <label for="7">Archive</label>
                                            </div>
                                            <div class="input-switch">
                                                <p-inputSwitch id="7"  [(ngModel)]="selectedTauxCnss.archive"
                                                     >
                                                </p-inputSwitch>
                                                
                                            </div>
                                        </div>


                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="8">Date archivage</label>
                                            <p-calendar id="8"
                                                        placeholder="Date archivage"  [(ngModel)]="selectedTauxCnss.dateArchivage"
                                                    dateFormat="{{dateFormat}}"  >
                                            </p-calendar>
                                            
                                        </div>

                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="9">Date creation</label>
                                            <p-calendar id="9"
                                                        placeholder="Date creation"  [(ngModel)]="selectedTauxCnss.dateCreation"
                                                    dateFormat="{{dateFormat}}"  >
                                            </p-calendar>
                                            
                                        </div>

                                        <div class="p-field align-inputswitch p-col-12  p-md-3">
                                            <div  class="label-inputswitch">
                                                <label for="10">Admin</label>
                                            </div>
                                            <div class="input-switch">
                                                <p-inputSwitch id="10"  [(ngModel)]="selectedTauxCnss.admin"
                                                     >
                                                </p-inputSwitch>
                                                
                                            </div>
                                        </div>


                                        <div class="p-field align-inputswitch p-col-12  p-md-3">
                                            <div  class="label-inputswitch">
                                                <label for="11">Visible</label>
                                            </div>
                                            <div class="input-switch">
                                                <p-inputSwitch id="11"  [(ngModel)]="selectedTauxCnss.visible"
                                                     >
                                                </p-inputSwitch>
                                                
                                            </div>
                                        </div>


                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="12">Username</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Username"
                                                   id="12" [(ngModel)]="selectedTauxCnss.username"
                                                     />
                                            
                                        </div>



                        </div>
                    </p-tabPanel>

                </p-tabView>

            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="p-grid">
                        <div>
                            <button pButton pRipple label="Annuler" icon="pi pi-times"
                                    class="p-button-text" (click)="hideCreateDialog()"></button>
                        </div>
                    <div>
                        <button pButton pRipple label="Valider" icon="pi pi-check" style="margin:10px" (click)="save()"></button>
                    </div>
                </div>
            </ng-template>

                    <app-type-taux-cnss-create-chercheur></app-type-taux-cnss-create-chercheur>


    </p-dialog>
