<div class="layout-menu-container" (click)="onMenuClick($event)">
    <div class="menu-scroll-content"  style="color:green">
        <div class="layout-profile" *ngIf="app.inlineUser && !appMain.isHorizontal()">
            <a class="layout-profile-button" (click)="appMain.onProfileClick($event)">
                <img *ngIf="user==='admin'" src="assets/layout/images/admin.png" alt="roma-layout">
                <div *ngIf="user==='admin'" class="layout-profile-userinfo">
                    <span class="layout-profile-name">Admin</span>
                    <span class="layout-profile-role"></span>
                </div>
                <img *ngIf="user==='societe'" src="assets/layout/images/societe.png" alt="roma-layout">
                <div *ngIf="user==='societe'" class="layout-profile-userinfo">
                    <span class="layout-profile-name">Societe</span>
                    <span class="layout-profile-role"></span>
                </div>
                <img *ngIf="user==='comptableValidateur'" src="assets/layout/images/comptbale.png" alt="roma-layout">
                <div *ngIf="user==='comptableValidateur'" class="layout-profile-userinfo">
                    <span class="layout-profile-name">Comptable Validateur</span>
                    <span class="layout-profile-role"></span>
                </div>
                <img *ngIf="user==='comptableTraiteur'" src="assets/layout/images/comptbale.png" alt="roma-layout">
                <div *ngIf="user==='comptableTraiteur'" class="layout-profile-userinfo">
                    <span class="layout-profile-name">Comptable Traiteur</span>
                    <span class="layout-profile-role"></span>
                </div>
            </a>
            <ul [@inline]="!appMain.isSlim() ? appMain.inlineUserMenuActive ? 'visibleAnimated' : 'hiddenAnimated' : appMain.inlineUserMenuActive ? 'visible' : 'hidden'"
                class="layout-profile-menu">
                <li>
                    <a href="#" pRipple>
                        <i class="pi pi-fw pi-user"></i><span>Profile</span>
                    </a>
                </li>
                <li>
                    <a href="#" pRipple>
                        <i class="pi pi-fw pi-cog"></i><span>Settings</span>
                    </a>
                </li>
                <li>
                    <a href="#" pRipple>
                        <i class="pi pi-fw pi-envelope"></i><span>Messages</span>
                    </a>
                </li>
                <li>
                    <a href="#" pRipple>
                        <i class="pi pi-fw pi-bell"></i><span>Notifications</span>
                    </a>
                </li>
            </ul>
        </div>
<!--        <ul class="layout-menu">-->
<!--            <li app-menuitem *ngFor="let item of model; let i = index;" [item]="item" [index]="i" [root]="true"></li>-->
<!--        </ul>-->
        <p-menu [model]="model" [style]="{'width':'300px','color':'green'}" pRipple></p-menu>
    </div>
</div>
