
<div class="layout-footer">
    <div>
        <img src="assets/images/E-compta.png" alt="IRD"/>
        <p>
        <span style="color: #FBC02D;"><span
                style="color:#000000">E</span><b>-compta</b></span>
        </p>
    </div>
    <div class="footer-icons">
        <button class="p-link">
            <i class="pi pi-facebook"></i>
        </button>
        <button class="p-link">
            <i class="pi pi-envelope"></i>
        </button>
        <button class="p-link">
            <i class="pi pi-twitter"></i>
        </button>
    </div>
</div>
