
<p-dialog [(visible)]="viewComptableDialog" [style]="{width: '70vw'}"
        header="Comptable" [modal]="true"
        styleClass="p-fluid">

    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="Comptable">
                <div class="p-grid">

                                <div class="p-field p-col-12 p-md-3">
                                    <label for="1">Code</label>
                                    <input class="p-mb-2 p-mr-2" type="text" pInputText [disabled]="true"
                                           placeholder="Code"  [(ngModel)]="selectedComptable.code"
                                           id="1" [(ngModel)]="selectedComptable.code"
                                           autofocus>
                                </div>



                                <div class="p-field p-col-12 p-md-3">
                                    <label for="2">Nom</label>
                                    <input class="p-mb-2 p-mr-2" type="text" pInputText [disabled]="true"
                                           placeholder="Nom"  [(ngModel)]="selectedComptable.nom"
                                           id="2" [(ngModel)]="selectedComptable.nom"
                                           autofocus>
                                </div>



                                <div class="p-field p-col-12 p-md-3">
                                    <label for="3">Telephone</label>
                                    <input class="p-mb-2 p-mr-2" type="text" pInputText [disabled]="true"
                                           placeholder="Telephone"  [(ngModel)]="selectedComptable.telephone"
                                           id="3" [(ngModel)]="selectedComptable.telephone"
                                           autofocus>
                                </div>



                                <div class="p-field p-col-12 p-md-3">
                                    <label for="4">Prenom</label>
                                    <input class="p-mb-2 p-mr-2" type="text" pInputText [disabled]="true"
                                           placeholder="Prenom"  [(ngModel)]="selectedComptable.prenom"
                                           id="4" [(ngModel)]="selectedComptable.prenom"
                                           autofocus>
                                </div>



                                <div class="p-field p-col-12 p-md-3">
                                    <label for="5">Type comptable</label>
                                    <p-dropdown [options]="typeComptables" [(ngModel)]="selectedComptable.typeComptableVo"
                                            id="5" [filter]="true" filterMatchMode="contains"
                                            [showClear]="true" [disabled]="true"
                                            optionLabel="libelle"
                                            placeholder="Type comptable">
                                    </p-dropdown>
                                </div>


                                <div class="p-field align-inputswitch p-col-12  p-md-3">
                                    <div  class="label-inputswitch">
                                        <label for="8">Credentials non expired</label>
                                    </div>
                                    <div class="input-switch">
                                        <p-inputSwitch id="8"  [disabled]="true" [(ngModel)]="selectedComptable.credentialsNonExpired"></p-inputSwitch>
                                    </div>
                                </div>


                                <div class="p-field align-inputswitch p-col-12  p-md-3">
                                    <div  class="label-inputswitch">
                                        <label for="9">Enabled</label>
                                    </div>
                                    <div class="input-switch">
                                        <p-inputSwitch id="9"  [disabled]="true" [(ngModel)]="selectedComptable.enabled"></p-inputSwitch>
                                    </div>
                                </div>


                                <div class="p-field align-inputswitch p-col-12  p-md-3">
                                    <div  class="label-inputswitch">
                                        <label for="10">Account non expired</label>
                                    </div>
                                    <div class="input-switch">
                                        <p-inputSwitch id="10"  [disabled]="true" [(ngModel)]="selectedComptable.accountNonExpired"></p-inputSwitch>
                                    </div>
                                </div>


                                <div class="p-field align-inputswitch p-col-12  p-md-3">
                                    <div  class="label-inputswitch">
                                        <label for="11">Account non locked</label>
                                    </div>
                                    <div class="input-switch">
                                        <p-inputSwitch id="11"  [disabled]="true" [(ngModel)]="selectedComptable.accountNonLocked"></p-inputSwitch>
                                    </div>
                                </div>


                                <div class="p-field align-inputswitch p-col-12  p-md-3">
                                    <div  class="label-inputswitch">
                                        <label for="12">Password changed</label>
                                    </div>
                                    <div class="input-switch">
                                        <p-inputSwitch id="12"  [disabled]="true" [(ngModel)]="selectedComptable.passwordChanged"></p-inputSwitch>
                                    </div>
                                </div>


                                <div class="p-field p-col-12 p-md-3">
                                    <label for="13">Created at</label>
                                    <p-calendar id="13" [disabled]="true"
                                                placeholder="Created at"  [(ngModel)]="selectedComptable.createdAt"
                                            dateFormat="{{dateFormat}}"></p-calendar>
                                </div>

                                <div class="p-field p-col-12 p-md-3">
                                    <label for="14">Updated at</label>
                                    <p-calendar id="14" [disabled]="true"
                                                placeholder="Updated at"  [(ngModel)]="selectedComptable.updatedAt"
                                            dateFormat="{{dateFormat}}"></p-calendar>
                                </div>

                                <div class="p-field p-col-12 p-md-3">
                                    <label for="15">Username</label>
                                    <input class="p-mb-2 p-mr-2" type="text" pInputText [disabled]="true"
                                           placeholder="Username"  [(ngModel)]="selectedComptable.username"
                                           id="15" [(ngModel)]="selectedComptable.username"
                                           autofocus>
                                </div>



                                <div class="p-field p-col-12 p-md-3">
                                    <label for="16">Password</label>
                                    <input class="p-mb-2 p-mr-2" type="text" pInputText [disabled]="true"
                                           placeholder="Password"  [(ngModel)]="selectedComptable.password"
                                           id="16" [(ngModel)]="selectedComptable.password"
                                           autofocus>
                                </div>



                                <div class="p-field p-col-12 p-md-3">
                                    <label for="17">Equivalence avec panel erc</label>
                                    <input class="p-mb-2 p-mr-2" type="text" pInputText [disabled]="true"
                                           placeholder="Equivalence avec panel erc"  [(ngModel)]="selectedComptable.equivalenceAvecPanelErc"
                                           id="17" [(ngModel)]="selectedComptable.equivalenceAvecPanelErc"
                                           autofocus>
                                </div>



                                <div class="p-field p-col-12 p-md-3">
                                    <label for="18">Base horizon</label>
                                    <input class="p-mb-2 p-mr-2" type="text" pInputText [disabled]="true"
                                           placeholder="Base horizon"  [(ngModel)]="selectedComptable.baseHorizon"
                                           id="18" [(ngModel)]="selectedComptable.baseHorizon"
                                           autofocus>
                                </div>



                </div>
            </p-tabPanel>
                    <p-tabPanel header="Societes">
                        <div class="p-grid">

                            <div class="p-col">
                                <div class="card">
                                    <p-table [value]="selectedComptable.societesVo" [scrollable]="true"
                                            scrollHeight="200px">
                                        <ng-template pTemplate="header">
                                            <tr>
                                                            <th>Ice</th>
                                                            <th>Adresse</th>
                                                            <th>Fax</th>
                                                            <th>Telephone</th>
                                                            <th>Raison sociale</th>
                                                            <th>Date creation</th>
                                                            <th>Annee exploitation</th>
                                                            <th>Capital social</th>
                                                            <th>Description</th>
                                                            <th>Age</th>
                                                            <th>President societe</th>
                                                            <th>Type societe</th>
                                                            <th>Credentials non expired</th>
                                                            <th>Enabled</th>
                                                            <th>Account non expired</th>
                                                            <th>Account non locked</th>
                                                            <th>Password changed</th>
                                                            <th>Created at</th>
                                                            <th>Updated at</th>
                                                            <th>Username</th>
                                                            <th>Password</th>
                                                            <th>Equivalence avec panel erc</th>
                                                            <th>Base horizon</th>
                                                            <th>Role</th>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-p>
                                            <tr>
                                                            <td>{{p.ice}}</td>

                                                            <td>{{p.adresse}}</td>

                                                            <td>{{p.fax}}</td>

                                                            <td>{{p.telephone}}</td>

                                                            <td>{{p.raisonSociale}}</td>

                                                            <td>{{p.dateCreation | date: dateFormatColumn}}</td>

                                                            <td>{{p.anneeExploitation}}</td>

                                                            <td>{{p.capitalSocial}}</td>

                                                            <td>{{p.description}}</td>

                                                            <td>{{p.age}}</td>

                                                        <td>{{p.presidentSocieteVo?.id}}</td>
                                                        <td>{{p.typeSocieteVo?.libelle}}</td>
                                                            <td><i *ngIf="p.credentialsNonExpired" class="pi pi-check checked-toogle"></i>
                                                                <i *ngIf="!p.credentialsNonExpired" class="pi pi-times unchecked-toogle"></i>
                                                            </td>

                                                            <td><i *ngIf="p.enabled" class="pi pi-check checked-toogle"></i>
                                                                <i *ngIf="!p.enabled" class="pi pi-times unchecked-toogle"></i>
                                                            </td>

                                                            <td><i *ngIf="p.accountNonExpired" class="pi pi-check checked-toogle"></i>
                                                                <i *ngIf="!p.accountNonExpired" class="pi pi-times unchecked-toogle"></i>
                                                            </td>

                                                            <td><i *ngIf="p.accountNonLocked" class="pi pi-check checked-toogle"></i>
                                                                <i *ngIf="!p.accountNonLocked" class="pi pi-times unchecked-toogle"></i>
                                                            </td>

                                                            <td><i *ngIf="p.passwordChanged" class="pi pi-check checked-toogle"></i>
                                                                <i *ngIf="!p.passwordChanged" class="pi pi-times unchecked-toogle"></i>
                                                            </td>

                                                            <td>{{p.createdAt | date: dateFormatColumn}}</td>

                                                            <td>{{p.updatedAt | date: dateFormatColumn}}</td>

                                                            <td>{{p.username}}</td>

                                                            <td>{{p.password}}</td>

                                                            <td>{{p.equivalenceAvecPanelErc}}</td>

                                                            <td>{{p.baseHorizon}}</td>

                                                            <td>{{p.role}}</td>


                                            </tr>
                                        </ng-template>
                                    </p-table>
                                </div>
                            </div>
                        </div>

                    </p-tabPanel>

                    <p-tabPanel header="Demandes">
                        <div class="p-grid">

                            <div class="p-col">
                                <div class="card">
                                    <p-table [value]="selectedComptable.demandesVo" [scrollable]="true"
                                            scrollHeight="200px">
                                        <ng-template pTemplate="header">
                                            <tr>
                                                            <th>Reference</th>
                                                            <th>Operation</th>
                                                            <th>Date demande</th>
                                                            <th>Annee</th>
                                                            <th>Mois</th>
                                                            <th>Trimestre</th>
                                                            <th>Societe</th>
                                                            <th>Etat demande</th>
                                                            <th>Demande piece jointes</th>
                                                            <th>Archive</th>
                                                            <th>Date archivage</th>
                                                            <th>Date creation</th>
                                                            <th>Admin</th>
                                                            <th>Visible</th>
                                                            <th>Username</th>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-p>
                                            <tr>
                                                            <td>{{p.reference}}</td>

                                                            <td>{{p.operation}}</td>

                                                            <td>{{p.dateDemande | date: dateFormatColumn}}</td>

                                                            <td>{{p.annee}}</td>

                                                            <td>{{p.mois}}</td>

                                                            <td>{{p.trimestre}}</td>

                                                        <td>{{p.societeVo?.id}}</td>
                                                        <td>{{p.etatDemandeVo?.libelle}}</td>
                                                            <td>{{p.demandePieceJointes}}</td>

                                                            <td><i *ngIf="p.archive" class="pi pi-check checked-toogle"></i>
                                                                <i *ngIf="!p.archive" class="pi pi-times unchecked-toogle"></i>
                                                            </td>

                                                            <td>{{p.dateArchivage | date: dateFormatColumn}}</td>

                                                            <td>{{p.dateCreation | date: dateFormatColumn}}</td>

                                                            <td><i *ngIf="p.admin" class="pi pi-check checked-toogle"></i>
                                                                <i *ngIf="!p.admin" class="pi pi-times unchecked-toogle"></i>
                                                            </td>

                                                            <td><i *ngIf="p.visible" class="pi pi-check checked-toogle"></i>
                                                                <i *ngIf="!p.visible" class="pi pi-times unchecked-toogle"></i>
                                                            </td>

                                                            <td>{{p.username}}</td>


                                            </tr>
                                        </ng-template>
                                    </p-table>
                                </div>
                            </div>
                        </div>

                    </p-tabPanel>


        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="p-grid">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times"
                        class="p-button-text" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>

            <app-type-comptable-create-chercheur></app-type-comptable-create-chercheur>

                    <app-president-societe-create-chercheur></app-president-societe-create-chercheur>
                    <app-type-societe-create-chercheur></app-type-societe-create-chercheur>
                    <app-societe-create-chercheur></app-societe-create-chercheur>
                    <app-etat-demande-create-chercheur></app-etat-demande-create-chercheur>


</p-dialog>



