<div class="login-body">
    <div class="card login-panel p-fluid">
        <div class="p-mt-4">
            <div class="p-grid" [formGroup]="registerForm">
                <div class="p-col-12 p-sm-6 p-md-6 logo-container">
                    <span class="guest-sign-in" style="font-weight: 600;font-size: 2rem;">Inscription</span>
                </div>

                <div class="p-col-12 username-container">
                    <!-- <h:panelGroup> -->
                    <label style="color:black; font-weight: bold ">prenom</label>
                    <div class="login-input">
                        <input formControlName="prenom" style="background-color:rgb(220,220,220);font-weight: bold"
                               placeholder="Prenom" type="text" name="prenom" pInputText id="1" required>
                    </div>
                    <!-- </h:panelGroup> -->
                </div>
                <div class="p-col-12 username-container">
                    <!-- <h:panelGroup> -->
                    <label style="color:black; font-weight: bold ">nom</label>
                    <div class="login-input">
                        <input formControlName="nom" style="background-color:rgb(220,220,220);font-weight: bold"
                               placeholder="Nom" type="text" name="nom" pInputText id="1" required>
                    </div>
                    <!-- </h:panelGroup> -->
                </div>
                <div class="p-col-12 username-container">
                    <!-- <h:panelGroup> -->
                    <label style="color:black; font-weight: bold ">Username</label>
                    <div class="login-input">

                        <input style="background-color:rgb(220,220,220);font-weight: bold" placeholder="Username"
                               type="text" name="username" pInputText formControlName="username" id="1" required>

                    </div>
                    <!-- </h:panelGroup> -->
                </div>
                <div class="p-col-12 username-container">
                    <!-- <h:panelGroup> -->
                    <label style="color:black; font-weight: bold ">Email</label>
                    <div class="login-input">
                        <input style="background-color:rgb(220,220,220);font-weight: bold" placeholder="email"
                               type="email" name="email" pInputText formControlName="email" id="1" required>

                    </div>

                    <!-- </h:panelGroup> -->
                </div>

                <div class="p-col-12 password-container">
                    <!-- <h:panelGroup> -->
                    <label style="color:black; font-weight: bold ">Password</label>
                    <div class="login-input">

                        <input style="background-color:rgb(220,220,220);font-weight: bold" placeholder="Password"
                               pPassword type="password" formControlName="password" id="password">

                    </div>
                    <!-- </h:panelGroup> -->
                </div>


                <div class="p-col-12 p-sm-6 p-md-6">

                    <button label="Register" pButton type="submit" name="submit" class="btn-md submit" value="submit"
                            (click)="submit()" [disabled]="registerForm.invalid"
                            style="background-color: rgba(8,7,16,0.83); color: white"></button>


                </div>
            </div>
        </div>
    </div>
</div>


