        <p-dialog [(visible)]="createDemandePieceJointeDialog" [style]="{width: '70vw'}"
                header="Demande piece jointe" [modal]="true"
                styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">


            <ng-template pTemplate="content" >
                <p-tabView>
                    <p-tabPanel header="Demande piece jointe">
                        <div class="p-grid">

                                        <div class="p-field p-col-12 p-md-6">
                                            <label for="1">Name<span style="color: red;">*</span></label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Name"
                                                   id="1" [(ngModel)]="selectedDemandePieceJointe.name"
                                                    [ngClass]="{'ng-invalid ng-dirty' : !validDemandePieceJointeName}"  />
                                            <small class='p-error' *ngIf='!validDemandePieceJointeName'>Name est obligatoire.</small>
                                        </div>



                                        <div class="p-field p-col-12 p-md-6">
                                            <label for="2">Path<span style="color: red;">*</span></label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Path"
                                                   id="2" [(ngModel)]="selectedDemandePieceJointe.path"
                                                    [ngClass]="{'ng-invalid ng-dirty' : !validDemandePieceJointePath}"  />
                                            <small class='p-error' *ngIf='!validDemandePieceJointePath'>Path est obligatoire.</small>
                                        </div>



                                        <div class="p-field p-col-11 p-md-5">
                                            <label for="3">Demande</label>
                                            <p-dropdown [options]="demandes" [(ngModel)]="selectedDemandePieceJointe.demandeVo"
                                                    id="3" [filter]="true" filterMatchMode="contains"
                                                    [showClear]="true"
                                                    optionLabel="reference"
                                                    placeholder="Demande"  >
                                            </p-dropdown>
                                            
                                        </div>
                                        <div class="p-col-1">
                                            <label></label>
                                            <button pButton pRipple type="button"
                                                    icon="pi pi-plus"   (click)="openCreatedemande('demande')"
                                                    class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>
                        </div>
                    </p-tabPanel>

                </p-tabView>

            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="p-grid">
                        <div>
                            <button pButton pRipple label="Annuler" icon="pi pi-times"
                                    class="p-button-text" (click)="hideCreateDialog()"></button>
                        </div>
                    <div>
                        <button pButton pRipple label="Valider" icon="pi pi-check" style="margin:10px" (click)="save()"></button>
                    </div>
                </div>
            </ng-template>

                    <app-demande-create-comptable></app-demande-create-comptable>


    </p-dialog>
