<!--<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">-->
<!--<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>-->
<!--<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
<!--&lt;!&ndash;&#45;&#45;&#45;&#45; Include the above in your HEAD tag &#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;-->
<!--<body>-->
<!--<div id="login">-->
<!--    <h3 class="text-center text-white pt-5">Fondation Hassan 2</h3>-->
<!--    <div class="container">-->
<!--        <div id="login-row" class="row justify-content-center align-items-center">-->
<!--            <div id="login-column" class="col-md-6">-->
<!--                <div id="login-box" class="col-md-12" >-->
<!--                    <form id="login-form" class="form" action="" method="post" [formGroup]="loginForm">-->
<!--                        <h3 class="text-center login">Login pour administrateur</h3>-->
<!--                        <div class="form-group username-container">-->
<!--                            <label  class="login">Username:</label><br>-->
<!--                            <input type="text" name="username" pInputText formControlName="username" id="1" required class="form-control">-->
<!--                        </div>-->
<!--                        <div class="form-group password-container">-->
<!--                            <label for="password" class="login">Password:</label><br>-->
<!--                            <input class="login-input" type="text" pPassword type="password" [feedback]="false" formControlName="password" id="password" class="form-control" required>-->
<!--                        </div>-->
<!--                        <div class="form-group">-->
<!--                            <button type="submit" class="p-button submit btn-md" value="submit" (click)="submit()">Se connecter</button>-->
<!--                        </div>-->
<!--                        <div id="register-link" class="text-right">-->
<!--                            <button class="p-button register btn-md" type="button" (click)="register()">Register</button>-->
<!--                        </div>-->
<!--                    </form>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--</body>-->

<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">

<body>
<div class="login-body">
    <div>
        <div class="background" style="background-color: rgba(255,255,255,0.82)">
        </div>
        <form [formGroup]="loginForm">
            <h3>Admin</h3>

            <label style="color:black; font-weight: bold ">Username</label>
            <input style="background-color:rgb(173,173,173);font-weight: bold ;border: black" placeholder="Username"
                   type="text" name="username" pInputText formControlName="username" id="1" required>

            <label for="password" style="color:black;font-weight: bold ">Password</label>
            <input style="background-color:rgb(173,173,173);font-weight: bold ;border: black" placeholder="Password"
                   pPassword type="password" [feedback]="false" formControlName="password" id="password">

            <button label="Se connecter" pButton type="submit" name="submit" class="btn-md submit" value="submit"
                    (click)="submit()" style="background-color: rgba(8,7,16,0.83); color: white"></button>
            <div class="social">
                <div class="ml-2">
                    <button style="color:#2c2c2c" type="button" (click)="register()">Register</button>
                </div>
                <!--        <div class="go"><i class="fab fa-google"></i> Google</div>-->
                <!--        <div class="fb"><i class="fab fa-facebook"></i> Facebook</div>-->
            </div>
        </form>
    </div>
</div>
</body>

