

<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">

<body>
<div class="login-body">
    <div>
        <div class="background" style="background-color: rgba(255,255,255,0.82)">
        </div>
        <form [formGroup]="loginForm">
            <h3>Admin</h3>

            <label style="color:black; font-weight: bold ">Username</label>
            <input style="background-color:rgb(173,173,173);font-weight: bold ;border: black" placeholder="Username"
                   type="text" name="username" pInputText formControlName="username" id="1" required>

            <label for="password" style="color:black;font-weight: bold ">Password</label>
            <input style="background-color:rgb(173,173,173);font-weight: bold ;border: black" placeholder="Password"
                   pPassword type="password" [feedback]="false" formControlName="password" id="password">

            <button label="Se connecter" pButton type="submit" name="submit" class="btn-md submit" value="submit"
                    (click)="submit()" style="background-color: rgba(8,7,16,0.83); color: white"></button>
            <div class="social">
                <div class="ml-2">
                    <button style="color:#2c2c2c" type="button" (click)="register()">Register</button>
                </div>
                <!--        <div class="go"><i class="fab fa-google"></i> Google</div>-->
                <!--        <div class="fb"><i class="fab fa-facebook"></i> Facebook</div>-->
            </div>
        </form>
    </div>
</div>
</body>

