
<p-dialog [(visible)]="viewCpcDialog" [style]="{width: '70vw'}"
        header="Cpc" [modal]="true"
        styleClass="p-fluid">

    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="Cpc">
                <div class="p-grid">

                                <div class="p-field p-col-12 p-md-3">
                                    <label for="1">Reference</label>
                                    <input class="p-mb-2 p-mr-2" type="text" pInputText [disabled]="true"
                                           placeholder="Reference"  [(ngModel)]="selectedCpc.reference"
                                           id="1" [(ngModel)]="selectedCpc.reference"
                                           autofocus>
                                </div>



                                <div class="p-field p-col-12 p-md-3">
                                    <label for="2">Total prod ex</label>
                                    <p-inputNumber class="p-mb-2 p-mr-2" id="2" [disabled]="true"
                                                   placeholder="Total prod ex"  [(ngModel)]="selectedCpc.totalProdEx"
                                            [(ngModel)]="selectedCpc.totalProdEx"></p-inputNumber>
                                </div>

                                <div class="p-field p-col-12 p-md-3">
                                    <label for="3">Total charg ex</label>
                                    <p-inputNumber class="p-mb-2 p-mr-2" id="3" [disabled]="true"
                                                   placeholder="Total charg ex"  [(ngModel)]="selectedCpc.totalChargEx"
                                            [(ngModel)]="selectedCpc.totalChargEx"></p-inputNumber>
                                </div>

                                <div class="p-field p-col-12 p-md-3">
                                    <label for="4">Total prod fin</label>
                                    <p-inputNumber class="p-mb-2 p-mr-2" id="4" [disabled]="true"
                                                   placeholder="Total prod fin"  [(ngModel)]="selectedCpc.totalProdFin"
                                            [(ngModel)]="selectedCpc.totalProdFin"></p-inputNumber>
                                </div>

                                <div class="p-field p-col-12 p-md-3">
                                    <label for="5">Total charg fin</label>
                                    <p-inputNumber class="p-mb-2 p-mr-2" id="5" [disabled]="true"
                                                   placeholder="Total charg fin"  [(ngModel)]="selectedCpc.totalChargFin"
                                            [(ngModel)]="selectedCpc.totalChargFin"></p-inputNumber>
                                </div>

                                <div class="p-field p-col-12 p-md-3">
                                    <label for="6">Total prod n cour</label>
                                    <p-inputNumber class="p-mb-2 p-mr-2" id="6" [disabled]="true"
                                                   placeholder="Total prod n cour"  [(ngModel)]="selectedCpc.totalProdNCour"
                                            [(ngModel)]="selectedCpc.totalProdNCour"></p-inputNumber>
                                </div>

                                <div class="p-field p-col-12 p-md-3">
                                    <label for="7">Total charg n cour</label>
                                    <p-inputNumber class="p-mb-2 p-mr-2" id="7" [disabled]="true"
                                                   placeholder="Total charg n cour"  [(ngModel)]="selectedCpc.totalChargNCour"
                                            [(ngModel)]="selectedCpc.totalChargNCour"></p-inputNumber>
                                </div>

                                <div class="p-field p-col-12 p-md-3">
                                    <label for="8">Date min cpc</label>
                                    <p-calendar id="8" [disabled]="true"
                                                placeholder="Date min cpc"  [(ngModel)]="selectedCpc.dateMinCpc"
                                            dateFormat="{{dateFormat}}"></p-calendar>
                                </div>

                                <div class="p-field p-col-12 p-md-3">
                                    <label for="9">Date max cpc</label>
                                    <p-calendar id="9" [disabled]="true"
                                                placeholder="Date max cpc"  [(ngModel)]="selectedCpc.dateMaxCpc"
                                            dateFormat="{{dateFormat}}"></p-calendar>
                                </div>

                                <div class="p-field align-inputswitch p-col-12  p-md-3">
                                    <div  class="label-inputswitch">
                                        <label for="11">Archive</label>
                                    </div>
                                    <div class="input-switch">
                                        <p-inputSwitch id="11"  [disabled]="true" [(ngModel)]="selectedCpc.archive"></p-inputSwitch>
                                    </div>
                                </div>


                                <div class="p-field p-col-12 p-md-3">
                                    <label for="12">Date archivage</label>
                                    <p-calendar id="12" [disabled]="true"
                                                placeholder="Date archivage"  [(ngModel)]="selectedCpc.dateArchivage"
                                            dateFormat="{{dateFormat}}"></p-calendar>
                                </div>

                                <div class="p-field p-col-12 p-md-3">
                                    <label for="13">Date creation</label>
                                    <p-calendar id="13" [disabled]="true"
                                                placeholder="Date creation"  [(ngModel)]="selectedCpc.dateCreation"
                                            dateFormat="{{dateFormat}}"></p-calendar>
                                </div>

                                <div class="p-field align-inputswitch p-col-12  p-md-3">
                                    <div  class="label-inputswitch">
                                        <label for="14">Admin</label>
                                    </div>
                                    <div class="input-switch">
                                        <p-inputSwitch id="14"  [disabled]="true" [(ngModel)]="selectedCpc.admin"></p-inputSwitch>
                                    </div>
                                </div>


                                <div class="p-field align-inputswitch p-col-12  p-md-3">
                                    <div  class="label-inputswitch">
                                        <label for="15">Visible</label>
                                    </div>
                                    <div class="input-switch">
                                        <p-inputSwitch id="15"  [disabled]="true" [(ngModel)]="selectedCpc.visible"></p-inputSwitch>
                                    </div>
                                </div>


                                <div class="p-field p-col-12 p-md-3">
                                    <label for="16">Username</label>
                                    <input class="p-mb-2 p-mr-2" type="text" pInputText [disabled]="true"
                                           placeholder="Username"  [(ngModel)]="selectedCpc.username"
                                           id="16" [(ngModel)]="selectedCpc.username"
                                           autofocus>
                                </div>



                </div>
            </p-tabPanel>
                    <p-tabPanel header="Cpc factures">
                        <div class="p-grid">

                            <div class="p-col">
                                <div class="card">
                                    <p-table [value]="selectedCpc.cpcFacturesVo" [scrollable]="true"
                                            scrollHeight="200px">
                                        <ng-template pTemplate="header">
                                            <tr>
                                                            <th>Facture</th>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-p>
                                            <tr>
                                                        <td>{{p.factureVo?.libelle}}</td>

                                            </tr>
                                        </ng-template>
                                    </p-table>
                                </div>
                            </div>
                        </div>

                    </p-tabPanel>


        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="p-grid">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times"
                        class="p-button-text" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>


                    <app-facture-create-admin></app-facture-create-admin>


</p-dialog>



