<p-dialog [(visible)]="createDeclarationIrEmployeDialog" [draggable]="false"
          [maximizable]="true" [modal]="true"
          [resizable]="false" [style]="{width: '70vw'}" header="Declaration ir employe" styleClass="p-fluid">


    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="Declaration ir employe">
                <div class="p-grid">

                    <div class="p-field p-col-11 p-md-2">
                        <label for="1">Declaration ir</label>
                        <p-dropdown [(ngModel)]="selectedDeclarationIrEmploye.declarationIrVo"
                                    [filter]="true"
                                    [options]="declarationIrs" [showClear]="true" filterMatchMode="contains"
                                    id="1"
                                    optionLabel="refrerence"
                                    placeholder="Declaration ir">
                        </p-dropdown>

                    </div>
                    <div class="p-col-1">
                        <label></label>
                        <button (click)="openCreatedeclarationIr('declarationIr')" class="p-button-success one-colonne-btn-success-align" icon="pi pi-plus"
                                pButton pRipple
                                type="button"></button>
                    </div>
                    <div class="p-field p-col-11 p-md-2">
                        <label for="2">Employe</label>
                        <p-dropdown [(ngModel)]="selectedDeclarationIrEmploye.employeVo" [filter]="true"
                                    [options]="employes" [showClear]="true" filterMatchMode="contains"
                                    id="2"
                                    optionLabel="cin"
                                    placeholder="Employe">
                        </p-dropdown>

                    </div>
                    <div class="p-col-1">
                        <label></label>
                        <button (click)="openCreateemploye('employe')" class="p-button-success one-colonne-btn-success-align" icon="pi pi-plus"
                                pButton pRipple
                                type="button"></button>
                    </div>
                    <div class="p-field p-col-12 p-md-3">
                        <label for="3">Salaire net</label>
                        <p-inputNumber [(ngModel)]="selectedDeclarationIrEmploye.salaireNet" [disabled]="true" class="p-mb-2 p-mr-2"
                                       id="3"
                                       placeholder="Salaire net">
                        </p-inputNumber>

                    </div>

                    <div class="p-field p-col-12 p-md-3">
                        <label for="4">Salaire brut</label>
                        <p-inputNumber [(ngModel)]="selectedDeclarationIrEmploye.salaireBrut" [disabled]="true" class="p-mb-2 p-mr-2"
                                       id="4"
                                       placeholder="Salaire brut">
                        </p-inputNumber>

                    </div>

                    <div class="p-field p-col-12 p-md-3">
                        <label for="5">Salaire net imposable</label>
                        <p-inputNumber [(ngModel)]="selectedDeclarationIrEmploye.salaireNetImposable" [disabled]="true" class="p-mb-2 p-mr-2"
                                       id="5"
                                       placeholder="Salaire net imposable">
                        </p-inputNumber>

                    </div>

                    <div class="p-field p-col-12 p-md-3">
                        <label for="6">Salaire brut imposable</label>
                        <p-inputNumber [(ngModel)]="selectedDeclarationIrEmploye.salaireBrutImposable" [disabled]="true" class="p-mb-2 p-mr-2"
                                       id="6"
                                       placeholder="Salaire brut imposable">
                        </p-inputNumber>

                    </div>

                    <div class="p-field p-col-12 p-md-3">
                        <label for="7">Salaire base<span style="color: red;">*</span></label>
                        <p-inputNumber [(ngModel)]="selectedDeclarationIrEmploye.salaireBase" [ngClass]="{'ng-invalid ng-dirty' : !validDeclarationIrEmployeSalaireBase}"
                                       class="p-mb-2 p-mr-2"
                                       id="7"
                                       placeholder="Salaire base">
                        </p-inputNumber>
                        <small *ngIf='!validDeclarationIrEmployeSalaireBase' class='p-error'>Salaire de Base est
                            obligatoire.</small>
                    </div>

                    <div class="p-field p-col-12 p-md-3">
                        <label for="8">Indemnite</label>
                        <p-inputNumber [(ngModel)]="selectedDeclarationIrEmploye.indemnite" class="p-mb-2 p-mr-2"
                                       id="8"
                                       placeholder="Indemnite">
                        </p-inputNumber>

                    </div>

                    <div class="p-field p-col-12 p-md-3">
                        <label for="9">Primes</label>
                        <p-inputNumber [(ngModel)]="selectedDeclarationIrEmploye.primes" class="p-mb-2 p-mr-2"
                                       id="9"
                                       placeholder="Primes">
                        </p-inputNumber>

                    </div>

                    <div class="p-field p-col-12 p-md-3">
                        <label for="10">Pourcentage anciennete</label>
                        <p-inputNumber [(ngModel)]="selectedDeclarationIrEmploye.pourcentageAnciennete" class="p-mb-2 p-mr-2"
                                       id="10"
                                       placeholder="Pourcentage anciennete">
                        </p-inputNumber>

                    </div>

                    <div class="p-field p-col-11 p-md-2">
                        <label for="11">Taux ir</label>
                        <p-dropdown [(ngModel)]="selectedDeclarationIrEmploye.tauxIrVo" [filter]="true"
                                    [options]="tauxIrs" [showClear]="true" filterMatchMode="contains"
                                    id="11"
                                    optionLabel="id"
                                    placeholder="Taux ir">
                        </p-dropdown>

                    </div>
                    <div class="p-col-1">
                        <label></label>
                        <button (click)="openCreatetauxIr('tauxIr')" class="p-button-success one-colonne-btn-success-align" icon="pi pi-plus"
                                pButton pRipple
                                type="button"></button>
                    </div>

                    <div class="p-field p-col-12 p-md-3">
                        <label for="12">Heures Supplementaires</label>
                        <p-inputNumber [(ngModel)]="selectedDeclarationIrEmploye.heuresSupplementaires" class="p-mb-2 p-mr-2"
                                       id="12"
                                       placeholder="Heures Supplementaires">
                        </p-inputNumber>
                    </div>

                    <div class="p-field p-col-12 p-md-3">
                        <label for="13">Avantages</label>
                        <p-inputNumber [(ngModel)]="selectedDeclarationIrEmploye.avantage" class="p-mb-2 p-mr-2"
                                       id="13"
                                       placeholder="Avantages">
                        </p-inputNumber>
                    </div>


                    <div class="p-field p-col-12 p-md-3">
                        <label for="14">Indemnite Justifie</label>
                        <p-inputNumber [(ngModel)]="selectedDeclarationIrEmploye.indemniteJustifie" class="p-mb-2 p-mr-2"
                                       id="14"
                                       placeholder="Indemnite Justifie">
                        </p-inputNumber>
                    </div>


                    <div class="p-field p-col-12 p-md-3">
                        <label for="15">Cotisation</label>
                        <p-inputNumber [(ngModel)]="selectedDeclarationIrEmploye.cotisation" class="p-mb-2 p-mr-2"
                                       id="15"
                                       placeholder="Cotisation">
                        </p-inputNumber>

                    </div>

                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer">
        <div class="p-grid">
            <div>
                <button (click)="hideCreateDialog()" class="p-button-text" icon="pi pi-times" label="Annuler"
                        pButton pRipple></button>
            </div>
            <div>
                <button (click)="save()" icon="pi pi-check" label="Valider" pButton pRipple
                        style="margin:10px"></button>
            </div>
        </div>
    </ng-template>

    <!-- <app-declaration-ir-create-admin></app-declaration-ir-create-admin>
     <app-employe-create-admin></app-employe-create-admin>
     <app-taux-ir-create-admin></app-taux-ir-create-admin> -->


</p-dialog>
